@{
    ViewBag.Title = "Add Note";
}
@model K94Warriors.Models.DogNote
@section subnav {
    @{
        Html.RenderAction("GetDogSection", "Dog", new {dogId = ViewBag.DogId });
    }
}

<div class="well">
    <h1>Note</h1>
    <div>Pick a note type that best fits your entry.</div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("DogProfileId", @Model.DogProfileID)
    <div class="form-group">
        <label>Note Type</label>
        @Html.DropDownList("NoteTypeId", null, "Select Note Type", new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label>Note</label>
        <textarea class="form-control input-lg" name="Note" placeholder="Note">@Model.Note</textarea>
        @Html.ValidationMessageFor(t => t.Note, "", new {@class = "help-block"})
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="IsCritical" value="true" @(Model.IsCritical ? "checked" : "")> Is Note Critical (Will send trainer e-mail alert)
        </label>
        @Html.ValidationMessageFor(t => t.IsCritical, "", new {@class = "help-block"})
    </div>

    <p>
        <button type="submit" class="btn">Submit</button>
    </p>
}