@{
    string dogName = ViewBag.DogName;
    ViewBag.Title = "Edit Note";
}
@model K94Warriors.Models.DogNote
@section subnav {
    @{
        Html.RenderAction("GetDogSection", "Dog", new {dogId = ViewBag.DogId });
    }
}

<div class="well">
    <h1>@ViewBag.Title</h1>
    <div>Edit this note for @dogName.</div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("DogProfileId", @Model.DogProfileID)
    <div class="form-group">
        @Html.LabelFor(i => i.NoteTypeId, "Note Type")
        @Html.DropDownListFor(i => i.NoteTypeId, (SelectList) ViewBag.NoteTypeSelectList, "Select Note Type", new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Note)
        @Html.TextAreaFor(i => i.Note, new {@class = "form-control input-lg", placeholder = "Note"})
        @Html.ValidationMessageFor(t => t.Note, "", new {@class = "help-block"})
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(i => i.IsCritical) Is Note Critical (Will send trainer e-mail alert)
        </label>
        @Html.ValidationMessageFor(t => t.IsCritical, "", new {@class = "help-block"})
    </div>

    <p>
        <button type="submit" class="btn">Save Note</button>
    </p>
}