@model K94Warriors.Models.DogProfile

@{
    ViewBag.Title = "DeleteDog";
}

<h2>DeleteDog</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DogProfile</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Breed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Breed)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.BirthYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthYear)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PickedUpDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PickedUpDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsFixed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsFixed)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.GraduationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GraduationDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WarriorID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarriorID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsApproved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}