@{
    ViewBag.Title = "Dog Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using K94Warriors.Models
@model K94Warriors.ViewModels.DogProfileViewModel

@section subnav {
    @{
        Html.RenderAction("GetDogSection", "Dog", new { dogId = ViewBag.DogId });
    }
}


<div class="col col-lg-12">
    <div class="heading">
        <h2 class="pull-left">@Model.Name </h2>
        <a href="@Url.Action("Edit", new { dogProfileId = Model.ProfileID })" class="pull-left btn-xs btn-primary" style="margin-left: 10px; margin-top: 1.9em;" title="Edit @Model.Name">
            <i class="icon-pencil"></i>
        </a>

        <h3 class="pull-right">@Model.Gender @Model.Breed, @Model.Age years old</h3>

    </div>
    <hr />
    <div class="information">

        <div class="col col-lg-4">
            @Html.Action("DogImagesPartial", new { id = ViewBag.DogId })
        </div>
        <div class="col col-lg-8">
            <div class="col col-lg-4">
                <strong>Created Date</strong>
                <p>@Model.CreatedTimeUTC.ToLongDateString()</p>
            </div>
            <div class="col col-lg-2">
                <strong>Color</strong>
                <p>@Model.Color</p>
            </div>
            <div class="col col-lg-3">
                <strong>Gender</strong>
                <p>@Model.Gender</p>
            </div>
            <div class="col col-lg-2">
                <strong>Location</strong>
                <p>@Model.Location.Name</p>
            </div>

            <div class="col col-lg-4">
                <strong>Health Condition</strong>
                <p>@Model.HealthCondition</p>
            </div>

            <div class="col col-lg-2">
                <strong>Fixed</strong>
                <p>@Model.IsFixed</p>
            </div>
            <div class="col col-lg-3">
                <strong>Approved</strong>
                <p>@Model.IsApproved</p>
            </div>

            <div class="col col-lg-2">
                <strong>Picked-Up Date</strong>
                <p>@(Model.PickedUpDate.HasValue ? Model.PickedUpDate.Value.ToLongDateString() : "Not Picked Up")</p>
            </div>
        </div>


    </div>
    <div>
        <h4>Last 5 Notes</h4>
        <hr />
        <div class="col col-lg-12">
            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th class="col col-lg-3">Note Type</th>
                        <th class="col col-lg-6">Note</th>
                        <th class="col col-lg-3">Date</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DogNote dogNotes in Model.DogNotes.Take(5))
                    {
                        <tr>
                            <td class="col col-lg-3">@dogNotes.NoteType.Name</td>
                            <td class="col col-lg-6"><a href="/dog/CreateOrUpdateDogNote?dogId=@dogNotes.DogProfileID&noteId=@dogNotes.NoteID">@dogNotes.Note</a></td>
                            <td class="col col-lg-3">@dogNotes.CreatedDate.ToLongDateString()</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>
