@{
    ViewBag.Title = "Dog Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using K94Warriors.Models
@model K94Warriors.ViewModels.DogProfileViewModel

@section subnav {
    @{
        Html.RenderAction("GetDogSection", "Dog", new { dogId = ViewBag.DogId });
    }
}

@section styles
{
    <style type="text/css">
        #button-edit-images {
            position: absolute;
            bottom: 5px;
            left: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        #image-thumbnail-modal .modal-dialog {
            width: 75%;
        }

        #thumbnail-picker {
            max-height: 28em;
            overflow-y: auto;
        }

        #thumbnail-picker a span.btn {
            width: 100%;
            padding: 2px 12px;
            position: absolute;
            bottom: 0;
        }

        a.thumbnail {
            padding: 0;
            position: relative;
            margin-bottom: 4px;
        }

        a.thumbnail span.btn {
            position: absolute;
            bottom: 0;
            max-width: 100%;
            width: 100%;
        }
    </style>
}


@section scripts {
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/app/ko-mouseover-binding.js"></script>
    <script src="~/Scripts/app/profile-image-picker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#button-edit-images').click(function () {
                $('#image-thumbnail-modal').modal('show');
            });

            $('#image-thumbnail-modal').on('show.bs.modal', function () {
                $('#modal-tabs a:first').tab('show');
            });

            if ($('.carousel-inner').length > 0) {
                $('#dog-image-carousel').carousel({
                    interval: 5000
                });
            }

            DogPicViewModel = new ThumbnailModalViewModel(@ViewBag.DogId);

            $('#image-thumbnail-modal').on('hidden.bs.modal', function () {
                var dirty = DogPicViewModel.dirty();

                delete DogPicViewModel;
                ko.cleanNode('#thumbnail-picker');

                if (dirty) location.reload(true);
            });

            ko.applyBindings(DogPicViewModel, document.getElementById('image-thumbnail-modal'));
        });
    </script>
}

<div class="col col-lg-12">
    <div class="heading">
        <div class="col-md-4">
            <h2>@Model.Name </h2>
        </div>
        <div class="col-md-5">
            <h3>@Model.Gender @Model.Breed, @Model.Age years old</h3>
        </div>
        <div class="col-md-3">
            <p class="pull-right" style="margin-bottom: 0px; line-height: 38px; margin-top: 20px">
                <a href="@Url.Action("Edit", new { dogProfileId = Model.ProfileID })" class="btn btn-primary" title="Edit @Model.Name">
                    <i class="icon-pencil"></i>&nbsp;Edit
                </a>
                <a href="@Url.Action("Profile", "Print", new { id = ViewBag.DogId })" class="btn btn-primary" title="Print">
                    <i class="icon-print"></i>&nbsp;Print
                </a>
            </p>
        </div>
    </div>
    <hr />
    <div class="information">

        <div class="col col-xs-12 col-md-4">
            @Html.Action("DogImagesPartial", new { id = ViewBag.DogId })
        </div>
        <div class="col col-md-8">
            <div class="col col-md-4">
                <strong>Entry Date</strong>
                <p>@Model.CreatedTimeUTC.ToLongDateString()</p>
            </div>
            <div class="col col-md-4">
                <strong>Color</strong>
                <p>@Model.Color</p>
            </div>
            <div class="col col-md-4">
                <strong>Gender</strong>
                <p>@Model.Gender</p>
            </div>

            <div class="col col-md-4">
                <strong>Breed</strong>
                <p>@Model.Breed</p>
            </div>

            <div class="col col-md-4">
                <strong>Location</strong>
                <p>@Model.LocationDescription</p>
            </div>

            <div class="col col-md-4">
                <strong>Health Condition</strong>
                <p>@Model.HealthCondition</p>
            </div>

            <div class="col col-md-4">
                <strong>Fixed</strong>
                <p>@Model.IsFixed</p>
            </div>
            <div class="col col-md-4">
                <strong>Approved</strong>
                <p>@Model.IsApproved</p>
            </div>

            <div class="col col-md-4">
                <strong>Picked-Up Date</strong>
                <p>@(Model.PickedUpDate.HasValue ? Model.PickedUpDate.Value.ToLongDateString() : "Not Picked Up")</p>
            </div>
        </div>


    </div>
    <div>
        <div>
            <p class="pull-right">
                @Html.ActionLink("View All Events", "Index", "Events", new { dog = ViewBag.DogId }, null)
            </p>
            <h4>Uncompleted Events</h4>
        </div>
        <hr />
        <div class="col col-lg-12">
            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th class="col col-lg-3">Event Type</th>
                        <th class="col col-lg-6">Subject</th>
                        <th class="col col-lg-3">Date/Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model.DogEvents.Where(i => !i.IsComplete).OrderBy(i => i.EventDate))
                    {
                        <tr>
                            <td class="col col-lg-3">@e.EventType.Name</td>
                            <td class="col col-lg-6"><a href="/Events/Edit?dogEventId=@e.EventID">@e.Subject</a></td>
                            <td class="col col-lg-3">@e.EventDate.ToShortDateString() @e.EventDate.ToShortTimeString()</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
    <div>
        <div>
            <p class="pull-right">
                @Html.ActionLink("View All Notes", "Index", "Notes", new { dog = ViewBag.DogId }, null)
            </p>
            <h4>Last 5 Notes</h4>
        </div>
        <hr />
        <div class="col col-lg-12">
            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th class="col col-lg-3">Note Type</th>
                        <th class="col col-lg-6">Note</th>
                        <th class="col col-lg-3">Date</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DogNote dogNotes in Model.DogNotes.OrderByDescending(i => i.CreatedDate).Take(5))
                    {
                        <tr>
                            <td class="col col-lg-3">@dogNotes.NoteType.Name</td>
                            <td class="col col-lg-6"><a href="/Notes/Edit/@dogNotes.NoteID">@dogNotes.Note</a></td>
                            <td class="col col-lg-3">@dogNotes.CreatedDate.ToLongDateString()</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>

@{
    ViewData["ProfileID"] = ViewBag.DogId;
    Html.RenderPartial("_ImageThumbnailModal");
}