@model K94Warriors.Models.DogProfile
@using K94Warriors.Core.HtmlHelperExtensions

@{
    string dogName = ViewBag.DogName;
    ViewBag.Title = "Edit " + dogName + "'s Profile";
}

<div class="well">
    <h1>@ViewBag.Title</h1>
</div>

@using (Html.BeginForm("Edit", "Dog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.ProfileID)

    <div class="form-group">
        @Html.LabelFor(t => t.Name)
        @Html.K9TextBoxFor(t => t.Name, "Dog Name")
        @Html.ValidationMessageFor(t => t.Name, "", new { @class = "help-block" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Gender)
        @Html.EnumDropDownListFor(t => t.Gender, "Select a gender...", new Dictionary<string, object> { { "class", "form-control input-lg" } })
        @Html.ValidationMessageFor(t => t.Gender, "", new { @class = "help-block" })
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Breed)
        @Html.K9TextBoxFor(t => t.Breed, "Dog Breed")
        @Html.ValidationMessageFor(t => t.Breed, "", new { @class = "help-block" })
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.BirthYear)
        @Html.K9TextBoxFor(t => t.BirthYear, "Birth Year")
        @Html.ValidationMessageFor(t => t.BirthYear, "", new { @class = "help-block" })
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Color)
        @Html.K9TextBoxFor(t => t.Color, "Dog Color")
        @Html.ValidationMessageFor(t => t.Color, "", new { @class = "help-block" })
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.HealthCondition)
        @Html.TextAreaFor(t => t.HealthCondition, new { rows = "4", placeholder = "Health Condition", @class="form-control"})
        @Html.ValidationMessageFor(t => t.HealthCondition, "", new { @class = "help-block" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(t => t.LocationDescription)
        @Html.K9TextBoxFor(t => t.LocationDescription, "Location")
        @Html.ValidationMessageFor(t => t.LocationDescription, "", new { @class = "help-block" })
    </div>
    
    <div class="form-group">
        <label>Picked-Up Date (Optional) </label>
        <input type="date" class="form-control input-lg" name="PickedUpDate" value="@(Model.PickedUpDate.HasValue ? Model.PickedUpDate.Value.ToString("yyyy-MM-dd") : null)">
        @Html.ValidationMessageFor(t => t.PickedUpDate, "", new { @class = "help-block" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(t => t.IsFixed)
            Is Dog Fixed?
        </label>
        @Html.ValidationMessageFor(t => t.IsFixed, "", new { @class = "help-block" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(t => t.IsApproved)
            Is Dog Approved?
        </label>
        @Html.ValidationMessageFor(t => t.IsApproved, "", new { @class = "help-block" })
    </div>@*
    
    <div class="form-group">
        <label>Upload an Image</label>
        <input type="file" name="images" class="form-control input-lg" title="Upload an image..." accept="image/*" multiple />
    </div>*@


    <p>
        <button type="submit" class="btn">Save Changes</button>
    </p>
}