@{
    ViewBag.Title = "GetNotes";
}
@model IEnumerable<K94Warriors.Models.DogNote>
@section subnav {

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dog">Return to Dog List</a>
                <a class="navbar-brand" href="/dog/readdog/@ViewBag.DogId">View @ViewBag.DogName</a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.DogName's Notes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/dog/getnotes/dogId=@ViewBag.DogId">View Notes</a></li>
                            <li><a href="/dog/CreateOrUpdateDogNote?dogId=@ViewBag.DogId">Add Notes</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.DogName's Medical Records <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">View Medical Records</a></li>
                            <li><a href="#">Add Medical Records</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.DogName's Events <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">View Events</a></li>
                            <li><a href="#">Add Events</a></li>

                        </ul>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>


}

<div>
    <h4>View All Notes for @ViewBag.DogName</h4>
    <hr/>
    <div class="col col-lg-12">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th class="col col-lg-2">Note Type</th>
                    <th class="col col-lg-5">Note</th>
                    <th class="col col-lg-3">Date</th>
                    <th class="col col-lg-2">Critical?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dogNotes in Model)
                {
                    <tr>
                        <td class="col col-lg-2">@dogNotes.NoteType.Name</td>
                        <td class="col col-lg-5"><a href="/dog/CreateOrUpdateDogNote?dogId=@dogNotes.DogProfileID&noteId=@dogNotes.NoteID">@dogNotes.Note</a></td>
                        <td class="col col-lg-3">@dogNotes.CreatedDate.ToLongDateString()</td>
                        <td class="col col-lg-2">@dogNotes.IsCritical</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
