@{
    ViewBag.Title = "Dogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using K94Warriors.Models
@model IEnumerable<K94Warriors.Models.DogProfile>

<div class="col col-lg-12">
    <h2>Dogs</h2>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th class="col col-lg-6">Dog Name</th>
                <th class="col col-lg-2">Breed</th>
                <th class="col col-lg-2 hidden-xs">Age</th>
                <th class="col col-lg-2 hidden-xs">Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DogProfile dog in Model)
            {
                <tr>
                    @{
                        const int thumbSize = 32;
                        var imageResult = Url.Action("DogThumbnail", new { dogId = dog.ProfileID, size = thumbSize })
                                          ?? "http://placehold.it/" + thumbSize + "x" + thumbSize;
                    }
                    <td class="col col-lg-6">
                        <div class="media">
                            <a class="pull-left" href="@Url.Action("ReadDog", new { id = dog.ProfileID})">
                                <img class="media-object" src="@imageResult"/>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="@Url.Action("ReadDog", new { id = dog.ProfileID})">@dog.Name</a></h4>
                            </div>
                        </div>
                        @*<a href="/dog/readdog/@dog.ProfileID">@dog.Name</a>*@
                    </td>
                    <td class="col col-lg-2">@dog.Breed</td>
                    <td class="col col-lg-2 hidden-xs">@{ @(DateTime.Now.Year - dog.BirthYear) }</td>
                    <td class="col col-lg-2 hidden-xs">@dog.Location.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>