@{
    string dogName = ViewBag.DogName;
    ViewBag.Title = "Add Certification for " + dogName;
    
}
@model K94Warriors.Models.DogCertification
@section subnav {
    @{
        Html.RenderAction("GetDogSection", "Dog", new {dogId = ViewBag.DogId });
    }
}

<div class="well">
    <h1>@ViewBag.Title</h1>
    <div>Add a new certification for @dogName.</div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("DogProfileId", Model.DogProfileID)

    <div class="form-group">
        @Html.LabelFor(i => i.Name)
        @Html.TextBoxFor(i => i.Name, new { @class = "form-control input-lg" })
        @Html.ValidationMessageFor(i => i.Name, "", new { @class = "help-block" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(i => i.DateReceived)
        <input type="date" class="form-control input-lg" name="DateReceived" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        @Html.ValidationMessageFor(i => i.DateReceived, "", new { @class = "help-block" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(i => i.ExpirationDate)
        <input type="date" class="form-control input-lg" name="ExpirationDate" />
        @Html.ValidationMessageFor(i => i.ExpirationDate, "", new { @class = "help-block" })
    </div>
    
    <p>
        <button type="submit" class="btn">Create Certification</button>
    </p>
}