@model IEnumerable<K94Warriors.Models.DogEvent>

@{
    string dogName = ViewBag.DogName;
    ViewBag.Title = dogName + "'s Events";

}
@section subnav {
    @{
        Html.RenderAction("GetDogSection", "Dog", new { dogId = ViewBag.DogId });
    }
}

<div class="row">
    <div class="col col-lg-12">
        <div class="pull-right">
            <a href="/Events/Create?dog=@ViewBag.DogId" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Event</a>
        </div>
        <h4>@ViewBag.DogName's Events</h4>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <hr />
        <div class="col col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col col-lg-2">Event Type</th>
                        <th class="col col-lg-2">Date/Time</th>
                        <th class="col col-lg-6">Subject</th>
                        <th class="col col-lg-2">Completed?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dogEvent in Model)
                    {
                        <tr>
                            <td class="col col-lg-2">@dogEvent.EventType.Name</td>
                            <td class="col col-lg-2">@dogEvent.EventDate.ToShortDateString() @dogEvent.EventDate.ToShortTimeString()</td>
                            <td class="col col-lg-6"><a href="/Events/Edit?dogEventId=@dogEvent.EventID">@dogEvent.Subject</a></td>
                            <td class="col col-lg-2">
                                @if (dogEvent.IsComplete)
                                {
                                    <span class="label label-success">YES</span>
                                }
                                else
                                {
                                    <span class="label label-warning">NO</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
