@model K94Warriors.Models.DogProfile

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ProfileID)

    <fieldset>
        <legend>DogProfile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Breed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Breed)
            @Html.ValidationMessageFor(model => model.Breed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthYear)
            @Html.ValidationMessageFor(model => model.BirthYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PickedUpDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PickedUpDate)
            @Html.ValidationMessageFor(model => model.PickedUpDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsFixed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsFixed)
            @Html.ValidationMessageFor(model => model.IsFixed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GraduationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GraduationDate)
            @Html.ValidationMessageFor(model => model.GraduationDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.IsApproved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsApproved)
            @Html.ValidationMessageFor(model => model.IsApproved)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>