@model K94Warriors.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="col col-lg-12">
    <div class="well">
        <h1>@ViewBag.Title.</h1>
        <div>Please enter your account information below.</div>
    </div>


@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



        <div class="form-group">
            <label for="UserName">Email address</label>
                            
             @Html.ValidationMessageFor(m => m.UserName)
            <input type="email" class="form-control input-lg" id="UserName" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            @Html.ValidationMessageFor(m => m.Password)
            <input type="password" class="form-control input-lg" id="Password" placeholder="Password">
        </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="RememberMe" >
                Remember Me?
            </label>
        </div>

    </div>
        <button type="submit" class="btn btn-default">Submit</button>


    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
