@model K94Warriors.ViewModels.Medication.MedicationPrintLogViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>K9s For Warriors Medication Log - @Model.DogProfile.Name</title>
    <link href="/css/MedicationPrintLog.css" rel="stylesheet" type="text/css" />
    <link href="/css/MedicationPrintLog-Print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="params">
        <form method="get">
            <input type="hidden" name="dogProfileId" value="@Model.DogProfile.ProfileID" />
            # of Days To Print: <input type="number" name="numdays" value="@Model.NumDays" /><br />
            Start Date: <input type="date" name="startdate" value="@Model.StartDate.ToString("yyyy-MM-dd")" /><br />
            <button type="submit">Regenerate</button>
        </form>
    </div>
    <h1 id="title">K9s For Warriors<br />
        Medication Log</h1>
    <div id="dog-name-container">
        <p>
            Dog: <span id="dog-name">@Model.DogProfile.Name</span>
        </p>
    </div>
    <table id="dog-health-table">
        <thead>
            <tr>
                <th>Health Condition</th>
                <th>Medication/Dosage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.DogProfile.HealthCondition</td>
                <td>
                    <ul>
                        @foreach (var med in Model.Medications)
                        {
                        <li>
                            @med.MedicationName: @med.AmountDescription<br />
                            From @med.StartDate.ToShortDateString() to @med.EndDate.ToShortDateString()<br />
                            <input type="checkbox" disabled @(med.AMDose ? "checked" : "") /><span class="checkbox-label">AM Dose</span>
                            <input type="checkbox" disabled @(med.NoonDose ? "checked" : "") /><span class="checkbox-label">Noon Dose</span>
                            <input type="checkbox" disabled @(med.PMDose ? "checked" : "") /><span class="checkbox-label">PM Dose</span><br />
                            Vet Notes: @med.VetNotes
                        </li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="log">
        @{
            int dayNum = 1;
        }
        @foreach (var day in Model.Days)
        {
            <div class="log-day">
                <p>Day @dayNum: @day.ToShortDateString()</p>
                <p>AM: <span class="sig"></span></p>
                <p>Noon: <span class="sig"></span></p>
                <p>PM: <span class="sig"></span></p>
            </div>
            
            dayNum++;
        }
    </div>
</body>
</html>
