@{
    Layout = null;
    string dogName = ViewBag.DogName;
}
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("View " + dogName + "'s Profile", "DogProfile", "Dog", new { id = ViewBag.DogId}, new { @class = "navbar-brand"} )
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    @Html.ActionLink(dogName + "'s Notes", "Index", "Notes", new { dog = ViewBag.DogId }, null)
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.DogName's Medical Info <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Medical Records", "Index", "MedicalRecords", new { dog = ViewBag.DogId }, null)</li>
                        <li>@Html.ActionLink("View Medications", "Index", "Medication", new { dog = ViewBag.DogId }, null)</li>
                    </ul>
                </li>                
                <li class="dropdown">
                    @Html.ActionLink(dogName + "'s Feeding", "Index", "Feeding", new { dog = ViewBag.DogId }, null)
                </li>
                <li class="dropdown">
                    @Html.ActionLink(dogName + "'s Events", "Index", "Events", new { dog = ViewBag.DogId }, null)
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>